*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: #313131;
    background-color: #FFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img {
    width: 100%;
    display: block;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.container {
    width: 90%;
    margin: auto;
}